*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#pulsanti, #menu {
    margin: 2.5% auto;
    width: 45%;
}

header {
    margin: 0.5% 1.5%;
}

#logo {
    vertical-align: middle;
    height: 80px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 50px;
}

.add {
    text-decoration: none;
    padding: 0.8%;
    border-radius: 6px;
    font-size: 1.2rem;
}

#task {
    color: white;
    background-color: #1E90FF;
}

#section {
    color: grey;
    border: 1px solid grey;
}

h2, p {
    margin: 2.5% 0;
}