*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#pulsanti, #menu {
    margin: 0 auto;
}

header {
    margin-left: 1.5%;
    margin-top: 0.5%;
}

#logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 50px;
}

#pulsanti {
    background-color: blue;
    width: 60%;
    height: 400px;
}

#menu {
    background-color: red;
    width: 60%;
    height: 400px;
    
}